In [1]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [16]:
import warnings
warnings.filterwarnings('ignore')
import re
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas.api.types import is_string_dtype, is_numeric_dtype

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [8]:
x_train = pd.read_csv('https://raw.githubusercontent.com/kayoyin/datasets/master/xtrain_clean.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/kayoyin/datasets/master/y_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/kayoyin/datasets/master/xtest_clean.csv')

In [11]:
# Turn all data types into categorical data types
def train_cats(df):
    for n,c in df.items():
        if is_string_dtype(c): 
            df[n] = pd.factorize(df[n])[0]
    return df

In [12]:
x_train = train_cats(x_train)

In [19]:
y_num = y_train.replace(['functional','non functional', 'functional needs repair'], [0,1,2]) # replace labels by numerical values

In [20]:
xtrain, xvalid, ytrain, yvalid = train_test_split(x_train, y_num, test_size=0.2)

In [21]:
xtrain.head()

,Unnamed: 0,id,gps_height,longitude,latitude,basin,public_meeting,scheme_management,construction_year,extraction_type_class,...,water_quality,quantity,source,source_class,waterpoint_type,year_recorded,date_recordedMonth,date_recordedElapsed,population_log,age
21640,21640,42140,1242.337526,33.69,-9.500684,0,1,0,2000.0,0,...,0,0,0,0,0,2011,7,200,5.225747,11.0
16729,16729,30385,1246.100000,30.61,-2.728533,1,1,0,2001.0,2,...,0,3,5,0,2,2011,7,187,6.274762,10.0
51342,51342,51460,663.000000,37.82,-4.357585,2,1,7,1975.0,0,...,0,1,0,0,0,2013,3,815,4.615121,38.0
11919,11919,50919,599.949772,33.44,-4.424464,4,1,7,2004.0,1,...,1,0,3,0,1,2012,10,659,5.017280,8.0
10218,10218,51582,825.000000,31.93,-8.070415,8,1,0,2008.0,0,...,0,0,6,1,0,2011,8,220,5.993961,3.0

# Trying some models

In [ ]:
rf = RandomForestClassifier(n_estimators=300, 
                                min_samples_split=10,
                                max_depth=100)
rf.fit(xtrain,ytrain)
pred = rf.predict(xvalid)

accuracy = accuracy_score(yvalid, pred)